<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% block meta %}  {% endblock %}
    <title>{% block title %} ? {% endblock %} - Blog list</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/css/uikit.min.css" />
    <style type="text/css">
      .new_button {
        position:fixed;
        right:10px;
        bottom:40px;
        background-color: #1e87f0;
        border-radius:45px;
        cursor:pointer;
        width:70px;
        height:70px;
        text-align: center;
      }
    </style>
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit-icons.min.js"></script>
    <script src = "/static/js/sha1.min.js"></script>
    <script src = "/static/js/jquery.min.js"></script>
    <script src = "/static/js/util.js"></script>
    <script src = "/static/js/vue.min.js"></script>
    <script src = "/static/js/sticky.min.js"></script>

    <script>
      window.onload = function() {
       var SearchVM = new Vue({
        el : "#search_form",
        methods: {
          search : function () {
            location.assign('/search/' + this.content)
          }
        }
       });
      }
    </script>
    {% block beforehead %} {% endblock %}

  </head>

  <body>
    <div id="new_blog" class="new_button">
      <script>
        $('#new_blog').click(() => {location.assign('/manage/blogs/create');});
      </script>
      <p style="color: white;"><i uk-icon = "icon:plus"></i>New</p>
    </div>
    <div class="uk-section-primary uk-preserve-color">
      <div uk-sticky="start: 200; animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light">
          <nav class="uk-navbar-container">
            <div class="uk-container uk-container-expand">
              <div uk-navbar>
                <ul class="uk-navbar-nav">
                  <li class="uk-active"><a href="/"><i uk-icon="icon: home"></i>Home</a></li>
                  {% if __user__ %}
                  <li class="uk-parent data-uk-dropdown">
                    <a href="/user/{{__user__.id}}"><i uk-icon="icon: user"></i> {{ __user__.name }}</a>
                  </li>
                  <li><a href="/signout"><i uk-icon ="sign-out"></i>Sign out</a></li>
                  {% else %}
                  <li><a href="/signin"><i uk-icon="icon: sign-in"></i> Sign in</a></li>
                  <li><a href="/register"><i uk-icon="icon: user"></i> Sign up</a></li>
                  {% endif %}
                </ul>
                <div class="uk-navbar-right uk-navbar-item">
                  <form id = "search_form" v-on="search: search" class="uk-search uk-search-default">
                    <span uk-search-icon></span>
                    <input v-model="content" id="search_input" type="search" class="uk-search-input" placeholder="Search...">
                  </form>
                </div>
              </div>
            </div>
          </nav>
      </div>

  </div>

    <div class="uk-container uk-container-center">
      <div class="uk-grid">
        <!-- content -->
        {% block content %}
        {% endblock %}
        <!-- // content -->
      </div>
      {% block other %}
      {% endblock %}
    </div>

    <div class="uk-margin-large-top" style="background-color:#eee; border-top:1px solid #ccc;">
      <div class="uk-container uk-container-center uk-text-center">
        <div class="uk-panel uk-margin-top uk-margin-bottom">
          <div>
            &copy; Copyright 2023 Stepfen Shawn<br>
            Powered by <a href="https://github.com/StepfenShawn" target="_blank">Shawn</a>
          </div>
          <a target="_blank" href="https://getuikit.com/"><i uk-icon="icon: uikit" style="font-size:64px; color: #444;"></i></a>
        </div>
      </div>
    </div>
  </body>
</html>