{% extends '__base__.html' %}

{% block title %} Sign in {% endblock %}

{% block beforehead %}
<script>

$(function() {
  var vmAuth = new Vue({
    el: '#vm',
      data: {
        email: '',
        passwd: ''
      },
      methods: {
        submit: function(event) {
          event.preventDefault();
          var $form = $('#vm');
          var email = this.email.trim().toLowerCase()
          var data = {
              email: email,
              passwd: this.passwd==='' ? '' : CryptoJS.SHA1(email + ':' + this.passwd).toString()
          };
          $form.postJSON('/api/authenticate', data, function(err, result) {
            if (!err) {
              location.assign('/');
            }
          });
          }
      }
    });
});

</script>

{% endblock %}

{% block other %}
<p><a href="/"><i uk-icon="icon: social"></i></a> <a href="/">Blog list</a></p>
  <form id = "vm" v-on="submit: submit">
    <div class="uk-alert uk-alert-danger uk-hidden"></div>
    <div class="uk-margin">
      <div class="uk-inline">
        <span class="uk-form-icon" uk-icon="icon: user"></span>
        <input v-model="email" name="email" placeholder="Email" maxlength="50" class="uk-input" type="text" aria-label="Not clickable icon">
      </div>
    </div>

    <div class="uk-margin">
      <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: lock"></span>
          <input v-model="passwd" name="passwd" placeholder="Password" maxlength="50" class="uk-input" type="password" aria-label="Not clickable icon">
      </div>
    </div>

    <div class="uk-margin">
      <div class="uk-inline">
        <button type="submit" class="uk-width-1-1 uk-button uk-button-primary uk-button-large">
          <i uk-icon="icon: sign-in"></i> Login
        </button>
      </div>
    </div>
  </form>
{% endblock %}